<div class="row">
  <div class="col s8">
    <h4 class="center">Edit Survey</h4>
      <%=form_for @survey do |f|%>
          <div class="input-field col s12">
              <%=f.text_field :name, class: "validate"%>
              <%=f.label :name%>
          </div>
      
          <div class="questionContainer">
            <div class="row">
                <%@questions.each do |survey_question|%>
                      <% if survey_question.is_fixed %>
                    
                        <div class="mySelect col s3">
                            Order: <select class="mySelect" name="survey[questions1][][<%=survey_question.id%>][order]"  >
                                    <%@survey.survey_questions.each_with_index do |question, index|%>
                                      <option value="<%=index + 1%>" <%=(index + 1).to_s == survey_question.order ? selected="selected" : nil %>  ><%=index + 1%></option>
                                    <% end%>
                                </select>
                        </div> 
                        <div class="col s9">                     
                          <label class="labelForFixed">Question for fixed response</label>
                          <textarea placeholder="Enter your question here" name="survey[questions1][][<%=survey_question.id%>][question]" ><%=survey_question.question %></textarea>   
                          <%survey_question.question_options.each do |option| %>
                            <input name="survey[options][][<%= option.id%>]" value="<%=option.option_text%>" >
                          <% end %>
                        </div> 
                    
                        
                  <%else%>
                        <div class="mySelect col s3">
                            Order: <select class="mySelect" name="survey[questions][][<%=survey_question.id%>][order]" >
                                    <%@survey.survey_questions.each_with_index do |question, index|%>
                                      <option value="<%=index + 1%>"  <%=(index + 1).to_s == survey_question.order ? selected="selected" : nil %>  ><%=index + 1%></option>
                                    <% end%>
                                </select>
                        </div>
                        <div class="col s9">
                          <label>Question for free response</label>
                          <textarea name="survey[questions][][<%=survey_question.id%>][question]" placeholder="Enter your question here" ><%=survey_question.question %></textarea>
                        </div>
                  <% end %>
                <%end%>
              </div>

              <br><br>

        <div class="center"><%=f.submit class:"btn-large waves-effect waves-light yellow"%> </div>
    <% end %>        
    </div>

  </div>
</div>
